apiVersion: v2
name: aperture-controller
description: A Helm chart to deploy Aperture Controller
version: v0.14.0
appVersion: v0.14.0
icon: https://raw.githubusercontent.com/fluxninja/aperture/gh-pages/FluxNinja--main--logo--ICON.svg
dependencies:
  - name: common
    repository: https://charts.bitnami.com/bitnami
    version: "=1.17.1"
  - name: etcd
    version: "=8.5.8"
    repository: https://charts.bitnami.com/bitnami
    condition: etcd.enabled
  - name: prometheus
    version: "=15.17.0"
    repository: https://prometheus-community.github.io/helm-charts
    condition: prometheus.enabled
